.map {
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    position: relative;
    overflow: hidden;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    background-color: #4B5B96;
}

.draggableMapSlow {
    transition: transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transititon: -moz-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
}

.map * {
    position: absolute;
    top: 0;
    left: 0;
    zoom: 1;
    -ms-zoom: 1;
}

.map path {
    pointer-events: auto;
    z-index: 1;
}

.ocean {
    background-color: #4B5B96;
    position: absolute;
}

.mapShadow {
    background-color: #4B5B96;
    position: absolute;
}

.lccLand {
    fill: #7780AC;
    overflow: hidden;
    position: absolute;
}
.lccWater {
    fill: #4B5B96;
    overflow: hidden;
    position: absolute;
}
.lccRivers {
    stroke: #4B5B96;
    z-index: 112;
    fill: none;
}
.lccRiversLow {
    stroke: #4B5B96;
    stroke-width: 3px;
    z-index: 112;
    fill: none;
}
.lccRiverLabel {
    opacity: 0.2;
    overflow: hidden;
    position: absolute;
    pointer-events: none;
    font-size: 3px;
    fill: #3b3b43;
}
.lccLabel {
    opacity: 0.2;
    overflow: hidden;
    position: absolute;
    pointer-events: none;
    font-style: italic;
    text-transform: uppercase;
    fill: #ffffff;
}

.locationDot {
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    border: 0.25rem solid white;
    border-radius: 100%;
    transition: opacity 0.3s ease;
}

.locationLabel {
    position: absolute;
    left: 0.5rem;
    top: -1rem;
    font-weight: 100;
    font-size: 18px;
    color: white;
    filter: drop-shadow(0 0 0.2rem rgba(0,0,0,0.5));
    -webkit-filter: drop-shadow(0 0 0.2rem rgba(0,0,0,0.5)) blur(0);
    transition: opacity 0.3s ease, margin 0.3s ease-out, filter 0.3s ease;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.locationLabelHidden {
    margin-left: -0.5rem;
    filter: blur(0.1rem);
    -webkit-filter: blur(0.1rem);
    opacity: 0;
    transition: opacity 0.3s ease, margin 0.3s ease-out, filter 0.3s ease;
}

.compass {
    position: absolute;
    left: 1rem;
    z-index: 110;
    pointer-events: none;
    
    filter: drop-shadow(0 0 0.5rem rgba(0,0,0,0.5));
    -webkit-filter: drop-shadow(0 0 0.5rem rgba(0,0,0,0.5));

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}