.map {
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    position: relative;
    overflow: hidden;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    background-color: #4B5B96;
}

.draggableMapSlow {
    transition: transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -moz-transititon: -moz-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
}

.map * {
    position: absolute;
    top: 0;
    left: 0;
    zoom: 1;
    -ms-zoom: 1;
}

.map path {
    pointer-events: auto;
    z-index: 1;
}

.ocean {
    background-color: #4B5B96;
    position: absolute;
}

.mapShadow {
    background-color: #4B5B96;
    position: absolute;
}

.lccLand {
    fill: #7780AC;
    overflow: hidden;
    position: absolute;
}
.lccWater {
    fill: #4B5B96;
    overflow: hidden;
    position: absolute;
}
.lccRivers {
    stroke: #4B5B96;
    z-index: 112;
    fill: none;
}
.lccRiversLow {
    stroke: #4B5B96;
    stroke-width: 3px;
    z-index: 112;
    fill: none;
}
.lccRiverLabel {
    opacity: 0.2;
    overflow: hidden;
    position: absolute;
    pointer-events: none;
    font-size: 3px;
    fill: #3b3b43;
}
.lccLabel {
    opacity: 0.2;
    overflow: hidden;
    position: absolute;
    pointer-events: none;
    font-style: italic;
    text-transform: uppercase;
    fill: #ffffff;
}

.locationDot {
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    border: 0.25rem solid white;
    border-radius: 100%;
    transition: opacity 0.3s ease;
}

.locationLabel {
    position: absolute;
    left: 0.5rem;
    top: -1rem;
    font-weight: 100;
    font-size: 18px;
    color: white;
    filter: drop-shadow(0 0 0.2rem rgba(0,0,0,0.5));
    -webkit-filter: drop-shadow(0 0 0.2rem rgba(0,0,0,0.5)) blur(0);
    transition: opacity 0.3s ease, margin 0.3s ease-out, filter 0.3s ease;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.locationLabelHidden {
    margin-left: -0.5rem;
    filter: blur(0.1rem);
    -webkit-filter: blur(0.1rem);
    opacity: 0;
    transition: opacity 0.3s ease, margin 0.3s ease-out, filter 0.3s ease;
}

.compass {
    position: absolute;
    left: 1rem;
    z-index: 110;
    pointer-events: none;
    
    filter: drop-shadow(0 0 0.5rem rgba(0,0,0,0.5));
    -webkit-filter: drop-shadow(0 0 0.5rem rgba(0,0,0,0.5));

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.infoBox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
}
.infoBoxDivBack {
    background-color: rgba(0,0,0,0.7);
    top: 1rem;
    left: 1rem;
    border-radius: 1rem;
    overflow: hidden;
}
.infoBoxDiv {
    top: 1rem;
    left: 1rem;
    border-radius: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;

    background-clip: text;
    -webkit-background-clip: text;
    mask-image: linear-gradient(to bottom, white calc(100% - 6rem), rgba(0,0,0,0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, white calc(100% - 6rem), rgba(0,0,0,0) 100%);
}
.infoBoxDiv * {
    position: relative;
}
.infoBoxDiv::-webkit-scrollbar-track {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.infoBoxDiv::-webkit-scrollbar {
    width: 0.8rem;
}
.infoBoxDiv h1 {
    font-weight: bolder;
    font-family: 'Baskerville', Georgia, Garamond, Times, 'Cambria', 'Times New Roman', serif;
    font-size: 1.7rem;
    line-height: 130%;
    margin: 1rem 0rem 0.5rem 0rem;
    padding: 0.4rem 0rem 0.4rem 1rem;
}
.infoBoxDiv h2 {
    display: inline-block;
    font-weight: bolder;
    font-size: 0.9rem;
    font-weight: 100;
    font-style: italic;
    color: white;
    line-height: 150%;
    margin: 0rem 1rem 0rem 1rem;
}
.infoBoxInfo {
    font-family: 'Times New Roman', Times, Georgia, Garamond, serif;
    color: white;
    font-weight: 100;
    line-height: 120%;
    font-size: 0.8rem;
    margin: -0.3rem 0.5rem 2rem 1rem;
}