html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Futura', Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  overflow: hidden;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}