.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.aboutHeadMd {
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 600;
  justify-content: center;
  font-size: 1.5rem;
}

.aboutHeadMd .bold {
  font-weight: 800;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.map * {
  position: absolute;
  top: 0;
  left: 0;
  zoom: 1;
}

.map path {
  pointer-events: auto;
  z-index: 1;
}

.map .state {
  transition: filter 0.2s linear, -webkit-filter 0.2s linear, fill 0.2s linear, z-index 0.2s linear;
  -moz-transition: filter 0.2s linear, -webkit-filter 0.2s linear, fill 0.2s linear, z-index 0.2s linear;
  -ms-transition: filter 0.2s linear, -webkit-filter 0.2s linear, fill 0.2s linear, z-index 0.2s linear;
  -webkit-transition: filter 0.2s linear, -webkit-filter 0.2s linear, fill 0.2s linear, z-index 0.2s linear;
  filter: none;
  -webkit-filter: none;
  fill: #CACFE9;
  overflow: visible;
  pointer-events: none;
  stroke: #4B5B96;
  stroke-width: 0.7rem;
}

.map .nonState {
  fill: #7780AC;
  overflow: visible;
  pointer-events: none;
  z-index: 1;
  stroke: #4B5B96;
  stroke-width: 0.7rem;
}

.nonStateLabel {
  display: flex;
  position: absolute;
  overflow: visible;
  z-index: 101;
  width: 100%;
  height: 70%;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-weight: 100;
  letter-spacing: .1rem;
  font-size: 1em;

  animation: fadeInLabel ease 0.4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  -moz-animation: fadeInLabel ease 0.4s;
  -moz-animation-iteration-count: 1;
  -webkit-animation: fadeInLabel ease 0.4s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  color: #4C547C;
  text-transform: uppercase;
  scale: 70%;
  font-style: italic;
  letter-spacing: 1rem;

  -webkit-text-stroke: .3rem #7780AC;
  paint-order: stroke fill;
}

.map .stateHover {
  z-index: 2;
}

.stateLabel {
  display: flex;
  position: absolute;
  overflow: visible;
  z-index: 101;
  width: 100%;
  height: 70%;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 1;
  color: #8C91B5;
  font-weight: 100;
  letter-spacing: .1rem;
  font-style: italic;
  font-size: 1em;

  animation: fadeInLabel ease 0.4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  -moz-animation: fadeInLabel ease 0.4s;
  -moz-animation-iteration-count: 1;
  -webkit-animation: fadeInLabel ease 0.4s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-text-stroke: .15rem #EEE9F3;
  paint-order: stroke fill;
}

.map .state:hover {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  fill: #EEE9F3;
}

.map .stateHover:hover {
  z-index: 100;
}

@keyframes fadeInAnimation {
  0% { opacity: 0; }
  40% { opacity: 0; }
  60% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes fadeInLabel {
  0% { opacity: 0; }
  100% {opacity: 1; }
}

.map {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: #4B5B96;
}

.timeline {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #242530;
  justify-content: flex-start;
  align-items: center;
}

.ocean {
  background-color: #4B5B96;
}

.mapShadow {
  background-color: #4B5B96;
  position: absolute;
  box-shadow: 0 0 70px 100px #4B5B96;
}

.numberLine {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  text-align: left;
  background-color: #434559;
  overflow: hidden;
}

.numberLine h2 {
  position: absolute;
  display: inline;
  font-weight: 100;
  font-size: 1.2rem;
  color: #E9EAF3;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scroll {
  position: absolute;
  background-color: #9ea0a1;
  width: 3rem;
  height: 0.4rem;
  bottom: 0.3rem;
  left: 0.3rem;
  border-radius: 0.2rem;
  z-index: 200;
}

.markerLine {
  position: absolute;
  left: calc(50vw - 0.2rem);
  width: 0.4rem;
  height: 100%;
  background-color: rgba(238, 99, 82, 0.8);
}

.markerYear {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.markerYear h3 {
  position: absolute;
  font-weight: 100;
  font-size: 1rem;
  top: -0.5rem;
  color: #E9EAF3;
  z-index: 300;
  background-color: rgba(197, 82, 67, 0.8);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 0.2rem solid rgba(238, 99, 82, 0.8);
  border-radius: 1rem;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.marker {
  border-bottom: 0.5rem solid rgba(238, 99, 82, 0.8);
  border-left: 0.3rem solid transparent;
  border-right: 0.3rem solid transparent;
  height: 0;
  width: 1rem;
}