.timeline {
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    position: relative;
    width: 100%;
    background-color: #242530;
    justify-content: flex-start;
    align-items: center;

    overflow-x: scroll;
    overflow-y: scroll;

    filter: drop-shadow(0 0 0.5rem rgba(0,0,0,0.5));
    -webkit-filter: drop-shadow(0 0 0.5rem rgba(0,0,0,0.5));
    z-index: 110;
}

.timeScale {
    appearance: none;
    background-color: #434559;
    background-image: linear-gradient(#E9EAF3, #E9EAF3);
    background-repeat: no-repeat;
    position: absolute;
    z-index: 115;
    cursor: pointer;
    height: 0.5rem;
    border-radius: 0.25rem;
    margin-top: 0.7rem;
    margin-left: 1.3rem;
    
    transform: rotate(90deg);
    transform-origin: top left;

    box-shadow: 0 0 0.8rem 0 rgba(0,0,0,0.5);
}
.timeScale:focus {
    outline: none;
}
.timeScale::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #E9EAF3;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0.3rem 0 rgba(0,0,0,0.5);
}
.timeScale::-webkit-slider-runnable-track {
    appearance: none;
    border: none;
    background: transparent;
}

.search {
    position: absolute;
    z-index: 115;
    outline: none;
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-family: 'Futura', 'Avenir', 'Century Gothic', 'Gill Sans', 'Avant Garde Gothic', 'Helvetica Neue', 'Proxima Nova', 'Lato', Helvetica, Arial, sans-serif;
    border: none;
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    margin: 0.4rem 1.2rem 0.4rem 0.4rem;
    border-radius: 0.4rem;
    width: 10rem;
}
.searchResults {
    position: absolute;
    z-index: 115;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
    outline: 0.5rem solid rgba(0,0,0,0.5);
    border-radius: 0.5rem;
    opacity: 0.9;
    margin-left: 0.65rem;
    margin-top: 2.7rem;

    transition: transform 0.3s ease, width 0.3s ease;
}

.numberLine {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    text-align: left;
    background-color: #434559;

    overflow-x: scroll;

    z-index: 120;
    filter: drop-shadow(0 0 0.4rem rgba(0,0,0,0.4));
    -webkit-filter: drop-shadow(0 0 0.4rem rgba(0,0,0,0.4));
}

.numberLine h2 {
    position: absolute;
    display: inline;
    font-weight: 100;
    font-size: 1.2rem;
    color: #E9EAF3;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.markerYear {
    position: absolute;
    bottom: 3.5rem;
    pointer-events: none;
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.markerLine {
    position: absolute;
    bottom: -7.5rem;
    z-index: 110;
    width: 0.4rem;
    background-color: rgba(238, 99, 82, 0.5);
    filter: drop-shadow(0 0 0.3rem rgba(0,0,0,0.7));
    -webkit-filter: drop-shadow(0 0 0.3rem rgba(0,0,0,0.7));
}

.markerYear h3 {
    position: absolute;
    font-weight: 100;
    font-size: 1rem;
    top: -0.5rem;
    color: #E9EAF3;
    z-index: 150;
    background-color: rgba(197, 82, 67, 0.8);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 0.2rem solid rgba(238, 99, 82, 0.8);
    border-radius: 1rem;
    filter: drop-shadow(0 0 0.3rem rgba(0,0,0,0.7));
    -webkit-filter: drop-shadow(0 0 0.3rem rgba(0,0,0,0.7));

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.marker {
    border-bottom: 0.5rem solid rgba(238, 99, 82, 0.8);
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    height: 0;
    width: 1rem;
    z-index: 150;
}

.events {
    position: absolute;
    height: calc(65px - 0.2rem);
    z-index: 50;
    overflow: visible;

    border-radius: 0.6rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-size: 1.2rem;
    line-height: 70%;

    transition: border 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, width 0.5s ease-out, border-radius 0.5s ease-out, opacity 0.3s ease-out,
        pointer-events 0.3s ease-out, margin 0.5s ease-out, filter 0.3s ease-out, background-color 0.3s ease-out;
    -moz-transition: border 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, width 0.5s ease-out, border-radius 0.5s ease-out, opacity 0.3s ease-out,
        pointer-events 0.3s ease-out, margin 0.5s ease-out, filter 0.3s ease-out, background-color 0.3s ease-out;
    -ms-transition: border 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, width 0.5s ease-out, border-radius 0.5s ease-out, opacity 0.3s ease-out,
        pointer-events 0.3s ease-out, margin 0.5s ease-out, filter 0.3s ease-out, background-color 0.3s ease-out;
    -webkit-transition: border 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, width 0.5s ease-out, border-radius 0.5s ease-out, opacity 0.3s ease-out,
        pointer-events 0.3s ease-out, margin 0.5s ease-out, filter 0.3s ease-out, background-color 0.3s ease-out;
}
.eventDiv:hover .eventsl, .selectedEvent .eventsl {
    opacity: 0.6;

    transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -webkit-transition: opacity 0.3s ease-out;

    z-index: 51;
}
.eventDiv:hover .endDate, .selectedEvent .endDate {
    opacity: 1;
    position: relative;
    display: flex;

    animation: pulse 1s ease-out;
    -webkit-animation: pulse 1s ease-out;
    -moz-animation: pulse 1s ease-out;
}
@keyframes pulse {
    from {filter: brightness(2);}
    to {filter: none;}
}

.events h6 {
    display: inline;
    font-weight: 100;
    white-space: nowrap;
    margin-left: 0.1rem;
}
.events p {
    font-size: 0.7rem;
    margin-right: 0.3rem;
    float: right;
}
.eventsl {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.2;
    z-index: 49;
    border-radius: 0.6rem;
    pointer-events: none;

    transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -webkit-transition: opacity 0.3s ease-out;
}
.eventsp {
    position: absolute;
    top: -30px;
    left: -20px;
    pointer-events: none;
    z-index: 115;
    filter: drop-shadow(0 0 0.2rem rgba(0,0,0,0.15));
    -webkit-filter: drop-shadow(0 0 0.2rem rgba(0,0,0,0.15));
    opacity: 0.7;

    transition: fill 0.3s ease, filter 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}
.eventspMulti {
    position: absolute;
    pointer-events: none;
    z-index: 115;
    filter: drop-shadow(0 0 0.2rem rgba(0,0,0,0.15));
    -webkit-filter: drop-shadow(0 0 0.2rem rgba(0,0,0,0.15));
    opacity: 0.7;

    transition: fill 0.3s ease, filter 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}
.eventspLabel {
    position: absolute;
    z-index: 116;
}
.eventspLabel h3 {
    text-align: center;
    font-size: 12px;
    font-weight: 100;
    width: 2rem;
    left: -1.13rem;
    top: -2.17rem;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.eventsp:hover, .eventspMulti:hover, .selectedPin {
    filter: drop-shadow(0 0 0.2rem rgba(0,0,0,0.3));
    -webkit-filter: drop-shadow(0 0 0.2rem rgba(0,0,0,0.3));
    opacity: 1;
    z-index: 120;
}
.eventspList {
    position: absolute;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
    outline: 0.5rem solid rgba(0,0,0,0.5);
    border-radius: 0.5rem;
    left: 1.5rem;
    opacity: 0.9;

    transition: transform 0.3s ease, width 0.3s ease;
}
.eventspListEvent {
    z-index: 130;
}
.eventspListArrow {
    width: 0;
    height: 0;
    left: 0.3rem;
    opacity: 0.9;
    border-top: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent;
    border-right: 1.5rem solid rgba(0,0,0,0.5);
}

.eventRange {
    transition: border-radius 0.5s ease-out, margin 0.5s ease-out, padding 0.5s ease-out;
    -moz-transition: border-radius 0.5s ease-out, margin 0.5s ease-out, padding 0.5s ease-out;
    -ms-transition: border-radius 0.5s ease-out, margin 0.5s ease-out, padding 0.5s ease-out;
    -webkit-transition: border-radius 0.5s ease-out, margin 0.5s ease-out, padding 0.5s ease-out;
}

.childEvent {
    border-top-left-radius: 0rem;

    transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
}

.parentExpand {
    position: absolute;
    right: 0;
    top: 50%;

    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);

    height: 2.5rem;
    width: 1rem;
    border-radius: 0.6rem;
    opacity: 0.5;

    transition: background-color 0.3s ease-out, opacity 0.3s ease-out, filter 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out, opacity 0.3s ease-out, filter 0.3s ease-out;
    -ms-transition: background-color 0.3s ease-out, opacity 0.3s ease-out, filter 0.3s ease-out;
    -webkit-transition: background-color 0.3s ease-out, opacity 0.3s ease-out, filter 0.3s ease-out;
}
.parentExpand:hover {
    opacity: 1;

    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
}

.endDate {
    position: absolute;
    opacity: 0;
}

.arrow {
    fill: white;
    scale: 0.9;

    transition: transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -ms-transition: -ms-transform 0.3s ease-out;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    filter: drop-shadow(0 0 0.5rem rgba(0,0,0,1));
    -webkit-filter: drop-shadow(0 0 0.5rem rgba(0,0,0,1));
}

.filterIcon {
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 1.65rem;
    left: 0.25rem;
}

.events:hover {
    z-index: 300;
    border: 0.3rem solid transparent;
}

.event {
    background-color: #F7E38A;
    border: 0.3rem solid #A38B31;
    box-shadow: inset 0rem 25px #A38B31;
    color: #F7E38A;
}
.event p { color: #A38B31; }
.event .filterIcon { fill: #A38B31; }
.event:hover, .event.selectedEvent {
    box-shadow: none;
    color: #A38B31;
}
.event:hover { background-color: #f7ebb3; }
.eventl { background-color: #A38B31; }
.eventp { fill: #F7E38A; }
.eventp:hover { fill: #f7ebb3; }
.eventDiv:hover .evente, .eventDiv .selectedEvent .evente { background-color: #A38B31; }
.eventDiv:hover .eventArrow, .eventDiv .selectedEvent .eventArrow { fill: #F7E38A; }
.eventText {
    color: #f7ebb3;
    background: linear-gradient(to right, rgba(163, 139, 49, 0.3) calc(0%), transparent 100%);
}
.eventTab:hover {
    color: #A38B31;
    background-color: #f7ebb3;
}
.eventTab svg { fill: #A38B31; }
.eventTab svg:hover {
    background-color: #A38B31;
    fill: #f7ebb3;
}

.legislation {
    background-color: #98de8e;
    border: 0.3rem solid #3E7B2E;
    box-shadow: inset 0rem 25px #3E7B2E;
    color: #98de8e;
}
.legislation p { color: #3E7B2E; }
.legislation .filterIcon { fill: #3E7B2E; }
.legislation:hover, .legislation.selectedEvent {
    box-shadow: none;
    color: #3E7B2E;
}
.legislation:hover { background-color: #bae9b1; }
.legislationl { background-color: #3E7B2E; }
.legislationp { fill: #98de8e; }
.legislationp:hover { fill: #bae9b1; }
.eventDiv:hover .legislatione, .eventDiv .selectedEvent .legislatione { background-color: #3E7B2E; }
.eventDiv:hover .legislationArrow, .eventDiv .selectedEvent .legislationArrow { fill: #98de8e; }
.legislationText {
    color: #bae9b1;
    background: linear-gradient(to right, rgba(62, 123, 46, 0.3) calc(0%), transparent 100%);
}
.legislationTab:hover {
    color: #3E7B2E;
    background-color: #bae9b1;
}
.legislationTab svg { fill: #3E7B2E; }
.legislationTab svg:hover {
    background-color: #3E7B2E;
    fill: #bae9b1;
}

.foreign {
    background-color: #d291e0;
    border: 0.3rem solid #75337c;
    box-shadow: inset 0rem 25px #75337c;
    color: #d291e0;
}
.foreign p { color: #75337c; }
.foreign .filterIcon { fill: #75337c; }
.foreign:hover, .foreign.selectedEvent {
    box-shadow: none;
    color: #75337c;
}
.foreign:hover { background-color: #dcb8e4; }
.foreignl { background-color: #75337c; }
.foreignp { fill: #d291e0; }
.foreignp:hover { fill: #dcb8e4; }
.eventDiv:hover .foreigne, .eventDiv .selectedEvent .foreigne { background-color: #75337c; }
.eventDiv:hover .foreignArrow, .eventDiv .selectedEvent .foreignArrow { fill: #d291e0; }
.foreignText {
    color: #dcb8e4;
    background: linear-gradient(to right, rgba(118, 51, 125, 0.3) calc(0%), transparent 100%);
}
.foreignTab:hover {
    color: #75337c;
    background-color: #dcb8e4;
}
.foreignTab svg { fill: #75337c; }
.foreignTab svg:hover {
    background-color: #75337c;
    fill: #dcb8e4;
}

.work {
    background-color: #72c5b3;
    border: 0.3rem solid #42635c;
    box-shadow: inset 0rem 25px #42635c;
    color: #72c5b3;
}
.work p { color: #42635c; }
.work .filterIcon { fill: #42635c; }
.work:hover, .work.selectedEvent {
    box-shadow: none;
    color: #42635c;
}
.work:hover { background-color: #9fd9c4; }
.workl { background-color: #42635c; }
.workp { fill: #72c5b3; }
.workp:hover { fill: #9fd9c4; }
.eventDiv:hover .worke, .eventDiv .selectedEvent .worke { background-color: #42635c; }
.eventDiv:hover .workArrow, .eventDiv .selectedEvent .workArrow { fill: #72c5b3; }
.workText {
    color: #9fd9c4;
    background: linear-gradient(to right, rgba(66, 99, 92, 0.3) calc(0%), transparent 100%);
}
.workTab:hover {
    color: #42635c;
    background-color: #9fd9c4;
}
.workTab svg { fill: #42635c; }
.workTab svg:hover {
    background-color: #42635c;
    fill: #9fd9c4;
}

.court {
    background-color: #e9ba84;
    border: 0.3rem solid #8f4e12;
    box-shadow: inset 0rem 25px #8f4e12;
    color: #e9ba84;
}
.court p { color: #8f4e12; }
.court .filterIcon { fill: #8f4e12; }
.court:hover, .court.selectedEvent {
    box-shadow: none;
    color: #8f4e12;
}
.court:hover { background-color: #ebc79f; }
.courtl { background-color: #8f4e12; }
.courtp { fill: #e9ba84; }
.courtp:hover { fill: #ebc79f; }
.eventDiv:hover .courte, .eventDiv .selectedEvent .courte { background-color: #8f4e12; }
.eventDiv:hover .courtArrow, .eventDiv .selectedEvent .courtArrow { fill: #e9ba84; }
.courtText {
    color: #ebc79f;
    background: linear-gradient(to right, rgb(143, 78, 18, 0.3) calc(0%), transparent 100%);
}
.courtTab:hover {
    color: #8f4e12;
    background-color: #ebc79f;
}
.courtTab svg { fill: #8f4e12; }
.courtTab svg:hover {
    background-color: #8f4e12;
    fill: #ebc79f;
}

.period {
    background-color: #9a9ed4;
    border: 0.3rem solid #3f3e63;
    box-shadow: inset 0rem 25px #3f3e63;
    color: #9a9ed4;
}
.period p { color: #3f3e63; }
.period .filterIcon { fill: #3f3e63; }
.period:hover, .period.selectedEvent {
    box-shadow: none;
    color: #3f3e63;
}
.period:hover { background-color: #aeb1db; }
.periodl { background-color: #3f3e63; }
.periodp { fill: #9a9ed4; }
.periodp:hover { fill: #aeb1db; }
.eventDiv:hover .periode, .eventDiv .selectedEvent .periode { background-color: #3f3e63; }
.eventDiv:hover .periodArrow, .eventDiv .selectedEvent .periodArrow { fill: #9a9ed4; }
.periodText {
    color: #aeb1db;
    background: linear-gradient(to right, rgba(63, 62, 99, 0.3) calc(0%), transparent 100%);
}
.periodTab:hover {
    color: #3f3e63;
    background-color: #aeb1db;
}
.periodTab svg { fill: #3f3e63; }
.periodTab svg:hover {
    background-color: #3f3e63;
    fill: #aeb1db;
}

.ruling {
    background-color: #d28b8b;
    border: 0.3rem solid #853030;
    box-shadow: inset 0rem 25px #853030;
    color: #d28b8b;
}
.ruling p { color: #853030; }
.ruling .filterIcon { fill: #853030; }
.ruling:hover, .ruling.selectedEvent {
    box-shadow: none;
    color: #853030;
}
.ruling:hover { background-color: #dca7a7; }
.rulingl { background-color: #853030; }
.rulingp { fill: #d28b8b; }
.rulingp:hover { fill: #dca7a7; }
.eventDiv:hover .rulinge, .eventDiv .selectedEvent .rulinge { background-color: #853030; }
.eventDiv:hover .rulingArrow, .eventDiv .selectedEvent .rulingArrow { fill: #d28b8b; }
.rulingText {
    color: #dca7a7;
    background: linear-gradient(to right, rgba(131, 47, 47, 0.3) calc(0%), transparent 100%);
}
.rulingTab:hover {
    color: #853030;
    background-color: #dca7a7;
}
.rulingTab svg { fill: #853030; }
.rulingTab svg:hover {
    background-color: #853030;
    fill: #dca7a7;
}

.selectedEvent {
    z-index: 400;
    border: 0.3rem solid transparent;
}