.main {
    margin: 2rem 3rem 2rem 3rem;
}

.container {
    max-width: 100%;
    height: 100%;
    padding: 0 0;
    margin: 0 auto 0;
}

.link {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 4rem;
    background-color: #21222C;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    /*filter: invert(1);
    -webkit-filter: invert(1);*/
    height: 3rem;
    width: 9rem;
}

.icon {
    filter: invert(1);
    -webkit-filter: invert(1);
    height: 2.5rem;
    width: 2.5rem;
}

.logoContainer {
    margin: 0rem 1rem 0rem 1rem;
}

.headButton {
    position: relative;
    display: flex;
    color: white;
    font-family: 'Futura', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    overflow: hidden;
    width: 8rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #21222C;

    transition: filter 0.2s linear, -webkit-filter 0.2s linear;
    -moz-transition: filter 0.2s linear, -webkit-filter 0.2s linear;
    -ms-transition: filter 0.2s linear, -webkit-filter 0.2s linear;
    -webkit-transition: filter 0.2s linear, -webkit-filter 0.2s linear;
    filter: brightness(1);
    -webkit-filter: brightness(1);
}

.selHeadButton {
    font-weight: 500;
    font-size: 1.2rem;
    background-color: #404561;
}

.headButton:hover {
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    filter: brightness(1.5);
    -webkit-filter: brightness(1.5);
}

.headUl {
    position: absolute;
    fill:#999999;
    stroke-width: 0;
    bottom: 0;
    will-change: transform;
    
    transition: transform 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out;
    -ms-transition: transform 0.2s ease-out;
    -webkit-transition: transform 0.2s ease-out;
    transform: scaleX(0%);
}

.headButton:hover .headUl {
    will-change: transform;
    transition: transform 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out;
    -ms-transition: transform 0.2s ease-out;
    -webkit-transition: transform 0.2s ease-out;
    transform: scaleX(100%);
}

.selHeadUl {
    position: absolute;
    fill:white;
    stroke-width: 0;
    bottom: 0;
    transform: scaleX(100%);
}
  
@media (max-width: 40rem) and (orientation: portrait) {
    .headerContainer {
        width: 79.285px;
        height: 15.465px;
    }
}