@font-face {
  font-family: 'Futura';
  font-weight: 'medium';
  src: local('Futura Medium'), url('../public/futura-pt/futura_medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Futura';
  font-weight: bold;
  src: local('Futura Bold'), url('../public/futura-pt/futura_bold.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Futura', 'Avenir', 'Century Gothic', 'Gill Sans', 'Avant Garde Gothic', 'Helvetica Neue', 'Proxima Nova', 'Lato', Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  overflow: hidden;
  height: 100%;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}